body {
	&.dark {
		--primary-color: #ff003d;
		--fill-git: var(--primary-color);
		--fill-telegram: var(--primary-color);
		--fill-linkedin: var(--primary-color);
		--fill-discord: var(--primary-color);
		--link-color: white;
		--header-color: #25252577;
		--send-button-color: #ff003c81;
		--send-button-text-color: white;
		--form-border-color: white;
		--border-send: 2px solid var(--send-button-color);
		--footer-background: #25252577;
		--footer-text-color: rgba(255, 255, 255, 0.48);
		--change-theme-back: #ff003c37;
		--active-burger: #141414;
		--blocks-background: #34343448;
	}
	&.light {
		--header-color: #dedede81;
		--link-color: black;
		background-color: rgb(255, 255, 255);
		color: black;
		--primary-color: #2c67eb;
		--fill-git: black;
		--fill-telegram: #0088cc;
		--fill-linkedin: #0077b5;
		--fill-discord: #5865f2;
		--send-button-color: #2c67eb;
		--send-button-text-color: var(--primary-color);
		--form-border-color: black;
		--border-send: 1px solid var(--primary-color);
		--footer-background: #dedede81;
		--footer-text-color: rgba(0, 0, 0, 0.502);
		--change-theme-back: #2a6eff81;
		--active-burger: white;
		--blocks-background: #ffffff81;
		.header__logo svg path {
			stroke: var(--primary-color);
		}
		a,
		input,
		button,
		.menu-burger {
			cursor: url(../img/cursor/light.png), auto;
		}
		.form__submit:hover {
			color: white;
		}
		.info__hi_contact {
			a {
				&:hover {
					background-color: #2a6eff2f;
					color: rgb(61, 61, 61);
				}
			}
		}
		.percentage {
			color: #2a6eff81;
		}
		.flip {
			svg {
				&:nth-child(2) {
					position: absolute;
					visibility: visible;
				}
			}
			img {
				&:nth-child(2) {
					visibility: visible;
				}
			}
		}
		.info {
			&__hi {
				a {
					border-radius: 5px;
				}
			}
		}
		.header {
			&__logo {
				div {
					border-radius: 3px;
				}
			}
		}
	}
}
